ul
  margin-top: 20px
  list-style: none
  gap: 15px
  display: flex
  flex-direction: column
  
li 
  padding: 10px
  border-radius: 5px
  box-shadow: 2px 2px 2px #012030
  color: #fff
  background-color:  #13678A
